        #rainbowbox {
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.2);
            border: 2px;
            border-radius: 25px;
            border-style: grooved;
            border-color: purple;

        }
        .rainbow {
            text-align: center;
            font-size: 22px;
            font-family: tahoma;
        }

        .rainbow_text_animated {
            background: linear-gradient(to right, red, orange, yellow, green, blue, purple);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            animation: rainbow-animation 2s ease-in-out infinite;
            background-size: 400% 100%;
        }

        @keyframes rainbow-animation {
            0%,100% {
                background-position: 0 0;
            }
            50% {
                background-position: 100% 0;
            }
        }